.skills-card__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--sl-spacing-medium);
    align-content: stretch;
}

.skills-card h3 {
    margin: 0;
}

.skills-card::part(header) {
    background: var(--jns-color-transparent-black-dark);
    border: none;
}

.skills-card::part(base) {
    background: var(--jns-color-transparent-black-light);
    border: none;
    height: 100%;
    box-shadow: var(--jns-shadow);
}
