:root {
    --jns-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.3);
    --jns-color-transparent-black-light: hsla(0, 0%, 0%, 0.2);
    --jns-color-transparent-black-dark: hsla(0, 0%, 0%, 0.25);
    
    font-family: "Montserrat", var(--sl-font-serif);
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    @media (prefers-color-scheme: light) {
        --jns-color-transparent-black-light: hsla(0, 0%, 0%, 0.1);
        --jns-color-transparent-black-dark: hsla(0, 0%, 0%, 0.11);
    }
}

body {
    position: relative;
    padding: var(--sl-spacing-large);
    margin: 0 auto;
    max-width: 80ch;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: "Montserrat", var(--sl-font-sans);
}

details {
    background: var(--jns-color-transparent-black-light);
    border: none;
    border-radius: var(--sl-border-radius-small);
    height: 100%;
    box-shadow: var(--jns-shadow);
    padding: var(--sl-spacing-small);

}

details > summary {
    cursor: pointer;
}

.section {
    margin-bottom: var(--sl-spacing-2x-large);
}

.subtitle {
    color: var(--text-label);
    display: block;
    font-size: 0.7em;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
    text-underline-position: from-font;
    text-underline-offset: var(--sl-spacing-3x-small);
}

label {
    color: var(--text-label);
    font-size: var(--sl-font-size-small);
}

sl-card:not(:defined) {
    opacity: 0;
}

sl-card:defined {
    opacity: 1;
    transition: var(--sl-transition-slow);
}

.sr-only {
    position: absolute;
    visibility: hidden;
    height: 0;
    margin: 0;
}