:root {
    --jns-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.3);
    --jns-color-transparent-black-light: hsla(0, 0%, 0%, 0.2);
    --jns-color-transparent-black-dark: hsla(0, 0%, 0%, 0.25);
    font-family: var(--sl-font-serif);
}

body {
    position: relative;
    padding: var(--sl-spacing-medium);
    margin: 0 auto;
    max-width: 80ch;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--sl-font-sans);
    text-shadow: 1px 1px hsla(0, 0%, 0%, 0.5);
}

details {
    background: var(--jns-color-transparent-black-light);
    border: none;
    border-radius: var(--sl-border-radius-small);
    height: 100%;
    box-shadow: var(--jns-shadow);
    padding: var(--sl-spacing-small);

}

details > summary {
    cursor: pointer;
}

.subtitle {
    display: block;
    font-size: 0.7em;
}

a {
    text-decoration: none;
    color: var(--sl-color-yellow-200);
}

a:hover {
    text-decoration: underline;
    text-underline-position: from-font;
    text-underline-offset: var(--sl-spacing-3x-small);
}
sl-card:not(:defined) {
    opacity: 0;
}

sl-card:defined {
    opacity: 1;
    transition: var(--sl-transition-slow);
}

.sr-only {
    position: absolute;
    visibility: hidden;
    height: 0;
    margin: 0;
}