.page-outline__heading {
    font-size: var(--sl-font-size-medium);
}

.page-outline__list {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 5px;
    border-left: 1px solid var(--sl-color-emerald-700);
    padding-left: var(--sl-spacing-small);
}

.page-outline__list-item {
    margin-bottom: var(--sl-spacing-x-small);
}
